body, h1, h2, h3, h4, p, ul, ol, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #ece7b5;
    margin-top: 5rem;
    background: #becccc;
    color: #00264d;
    text-align: center;
    font-family: 'Manjari', sans-serif;
  }
  
  /* Header */
  header {
    background: #f9f5d8;
    height: 90px;
    border-bottom: 1px solid #a5a390;
  }
  
  #logo {
    height: 50px;
  }
  
  /* Navigation */
  #navbarToggle {
    margin-top: 25px;
    font-family: 'Manjari', sans-serif;
    font-size: 19px;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #26103d;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #975f31;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    text-decoration: underline;
    font-style: italic;
  }
  
  /* Content Section */
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  /* Card */
  .card {
    width: 25rem;
    height: 40rem;
    margin-bottom: 20px;
  }
  
  /* Carousel */
  .carousel-inner {
    height: 500px;
    border-radius: 15px;
  }
  
  /* Form */
  .form {
    margin: auto;
    width: 60%;
    padding: 50px;
  }
  
  /* Main Content */
  main {
    color: #00264d;
    text-align: center;
    font-family: 'Manjari', sans-serif;
  }
  
  /* Glyphicons */
  .glyphicon {
    color: #00264d;
    height: 10px;
    font-size: 20px;
  }
  
  .glyphicon:hover {
    color: #43b9f0;
  }
  
  .content {
    /* Your content styles here */
    flex-grow: 1; /* Allow the content to grow and push the footer to the bottom */
}

  /* Footer */
  footer {
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #f2f2f2;
    font-family: 'Manjari', sans-serif;
    margin-top: 40px;
    color: #00264d;
    position: sticky;
    bottom: 0;
  }
  
  /* Additional Styles */
  .account-heading {
    font-size: 2.5rem;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    display: inline;
  }

  /* body { 
    font-family: 'Arial', Arial, sans-serif; 
    background: #becccc; 
    text-transform: uppercase; 
    color: #fff; 
    text-align: center; 
    letter-spacing: -3px; 
    padding:50px;
  }
   */
   h2{
    font-size:100px;
    margin-top: 20px;
    position:relative;
    font-weight: bold;
    cursor: pointer;
  }
  
  /*
text-shadow forked from: https://codepen.io/teetteet/details/dFICw#forkline
*/
.superShadow {
  text-shadow:     0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                 0 3px 0 hsl(174,5%,70%),
	                 0 4px 0 hsl(174,5%,66%),
	                 0 5px 0 hsl(174,5%,64%),
	                 0 6px 0 hsl(174,5%,62%),
	                 0 7px 0 hsl(174,5%,61%),
	                 0 8px 0 hsl(174,5%,60%),
	
	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
}

strong{
  font-size:200px;
}
  
  h1 {
    font-family: 'Arial', sans-serif; /* Change the font to Arial for a professional look */
    margin-top: 20px;
    font-size: 36px;
    color: #333; /* Use a dark gray color for a professional scheme */
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(45deg, #000000, #00DFFC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1);
  }
  

            .top-right {
              position: fixed;
              top: 20px;
              right: 0;
              padding: 5px 20px;
              background-color: transparent; /* Set background color to transparent */
              border: none; /* Remove the border */
              z-index: 999; /* Adjust the z-index to ensure it's on top */
          }
          
          /* Additional styles for when the user is logged in (adjust as needed) */
          .top-right.loggedin {
              background-color: #e5e5e5; /* Change background color when logged in */
          }