{% extends 'layout.html' %}

{% block content %}


    <style>
        .chart-heading {
            font-family: "Rubik", sans-serif;
            color: #023047;
            text-transform: uppercase;
            font-size: 30px;
            text-align: center;
            border-radius: 40px;
            box-shadow: 5 5px 10px rgba(0, 0, 0, 0.9);
           
           
          }
          
          .chart-container {
            width: 500px;
          }
          
          .programming-stats {
            font-family: "Rubik", sans-serif;
            display: flex;
            align-items: center;
            gap: 24px;
            margin: 0 auto;
            width: fit-content;
            box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
            padding: 8px 32px;
            color: #023047;
            transition: all 400ms ease;
          }
          
          .programming-stats:hover {
            transform: scale(1.02);
            box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
          }
          
          .programming-stats .details ul {
            list-style: none;
            padding: 0;
          }
          
          .programming-stats .details ul li {
            font-size: 16px;
            margin: 12px 0;
            text-transform: uppercase;
          }
          
          .programming-stats .details .percentage {
            font-weight: 700;
            color: #e63946;
          }
    </style>

  <body>
    <h2 class="chart-heading">Quarterly Sales Analytics</h2>
    <div id="quarterlySalesData" data-sales="{{ quarterly_sales }}" year="{{selected_value}}"></div>
    
    <div class="programming-stats">
      <div class="chart-container">
        <canvas class="my-chart"></canvas>
      </div>

      <div class="details">
        <ul></ul>
      </div>
    </div>

    <select id="myDropdown" onchange="sendRequest()">
      {% for year in years %}
        <option value="{{ year[0] }}">{{ year[0] }}</option>
      {% endfor %}
    </select>
    <div id="result"></div>
    
  

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script >
        var quarterlySalesData = JSON.parse(document.getElementById('quarterlySalesData').getAttribute('data-sales'));
        const chartData = {
            labels: Object.keys(quarterlySalesData),
            data: Object.values(quarterlySalesData),
          };
          
          const myChart = document.querySelector(".my-chart");
          const ul = document.querySelector(".programming-stats .details ul");
          
          new Chart(myChart, {
            type: "doughnut",
            data: {
              labels: chartData.labels,
              datasets: [
                {
                  label: "Language Popularity",
                  data: chartData.data,
                },
              ],
            },
            options: {
              borderWidth: 10,
              borderRadius: 2,
              hoverBorderWidth: 0,
              plugins: {
                legend: {
                  display: false,
                },
              },
            },
          });
          
          const populateUl = () => {
            yr= document.getElementById('quarterlySalesData').getAttribute('year');
            let li = document.createElement("li");
            li.innerHTML = `<bold>Year :  <span >${yr}</span></bold>`;
            ul.appendChild(li);
            chartData.labels.forEach((l, i) => {
              let li = document.createElement("li");
              li.innerHTML = `${l}: <span class='percentage'>${chartData.data[i]}</span>`;
              ul.appendChild(li);
            });
          };
          
          populateUl();
    </script>
 
    <script>
      // Function to send an AJAX request to Flask
      function sendRequest() {
          var selectedValue = document.getElementById("myDropdown").value;
  
          // Make an AJAX request
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/analytics?value=" + selectedValue, true);
  
            xhr.onreadystatechange = function () {
              if (xhr.readyState == 4 && xhr.status == 200) {
                  // Display the result in the 'result' div
                  document.getElementById("result").innerHTML = xhr.responseText;
              }
          }; 
  
          xhr.send();
      }
  </script>
  </body>

{% endblock %}