{% extends "layout.html" %}
{% block content %}
<style>
  /* Container styles */
  .containerr {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    background: rgba(242, 242, 242,0.5);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 70, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18); 
    margin-bottom: 20px;
  }

  /* Header styles */
  .header {
    margin-bottom: 20px;
    background-color: transparent ;/* Background color for the header */
    color: #fff; /* Text color for the header */
    padding: 10px;
    border-radius: 5px;
    align-items: center;
  }

  .ty {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    max-width: 90%;
  }

  /* Table styles */
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; /* Background color for the table */
    border: 2px solid #ccc; 
    /* Border around the table */
  }

  .table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }

  .table th {
    background-color: rgba(69, 58, 45,0.9); /* Background color for table headers */
    color: #fff; /* Text color for table headers */
  }

  /* Table row styles (alternating colors) */
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row background color */
  }

  /* Additional styles */
  .table a {
    color: #007bff; /* Link color in the table (if any) */
    text-decoration: none;
  }

  .table a:hover {
    text-decoration: underline;
  }
  #txt{
    color: #26103d;
    font-size: 60px;
  }

</style>

<div class="containerr">
  <div class="header">
    <img src="/static/checkout-success.webp" alt="Thank You" class ="ty" />
    <div id = "txt">Thank you for the purchase!</div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Estimated delivery time</th>
      </tr>
    </thead>
    <tbody>
      {% for name, number in names %}
        <tr>
          <td>{{ name }}</td>
          <td>{{ number }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}