<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
    <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
<!--for glyphicons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
    <link rel="icon" type="image/png" href="static/favicon.png">
    {% if title %}
        <title>C Store - {{ title }}</title>
    {% else %}
        <title>C Store</title>
    {% endif %}
</head>
<body >
  <style>
    body {
      margin: 0;
      padding: 0;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    main {
      flex: 1;
    }

    #footer {
      background-color: rgba(248, 248, 248,0.6); /* Set your preferred background color */
      padding: 20px 0;
      text-align: center;
      backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(30px);
    }
  </style>
  
    <header class="site-header">
      <nav class="navbar  navbar-expand-md navbar-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/"> 
            <img id="logo" alt="Logo"  src= "{{ url_for('static', filename='logo.png') }}"  />
          </a>
          
          <div class="collapse navbar-collapse" id="navbarToggle" >

            <div class="navbar-nav mr-auto" >
              <a class="nav-item nav-link" href="{{ url_for('products') }}">products</a>
              <a class="nav-item nav-link" href="{{ url_for('cart') }}">cart</a>
              <!-- <a class="nav-item nav-link ml-auto" href="{{ url_for('signup') }}">signup</a> Move this link to the right -->
              <a class="nav-item nav-link" href="{{ url_for('analytics') }}">Analytics</a>
              <a class="nav-item nav-link ml-auto" href="{{ url_for('signup') }}">
                <!-- <i class="fas fa-user"></i> Add the account icon here -->
                signup
            </a>
            <div class="top-right">
              {% if signedin %}
                  <p>Welcome, {{ username }}</p>
                  <a class = "top-right-second"href="{{ url_for('logout') }}">Logout</a>
              {% endif %}
          </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </header>
    <main role="main" class="container">

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        <!-- </div> -->
      <!-- </div> -->
    </main>
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <!-- <h5 class="card-title"><b>Quick Links</b></h5> -->
              <p class="card-text">Contact Us</p>
              <!-- <p class="card-text">Blog</p> -->
            </div>
            <div class="col-sm-4">
              <h5 class="card-title"><b>Terms and Conditions</b></h5>
              <p class="card-text">Please read our <span><a href="..">terms and conditions here.</a></span></p>
            </div>
            <div class="col-sm-4">

            </div>
          </div>
        </div>
        <!--<footer class="small text-center text-muted">-->
        <!--    Website built by HM <a href="https://google.com/">linkedin</a>.-->
        <!--</footer>-->
      </div>

        <!-- Include your CSS and other head content here -->
  

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>