
{% extends "layout.html" %}
{% block content %}
<style>
    .product-image {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        transition: transform 0.3s ease; /* Add smooth transition for scaling */
        border-radius: 15px;
    }

    .product-tile {
        height: 400px;
        padding: 10px; /* Add padding for spacing between tiles */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
    }

    .product-tile:hover .product-image {
        transform: scale(1.1); /* Scale up the image on hover */
    }

    .product-name {
        margin-top: 1px; /* Add spacing between the image and product name */
        font-size: 20px; /* Set the font size to your desired value, e.g., 18px */
    }


</style>

<div class="row">
    <div class="col-md-12">
        <h1>{{ category_name }}</h1>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <a href="{{ url_for('get_products', product_id=product[2]) }}" class="product-tile">
                        <img src="static/{{ product[1] }}" alt="{{ product[0] }}" class="product-image">
                    </a>
                    <div class="product-name">{{ product[0] }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}