{% extends 'layout.html' %}

{% block content %}
<style>
    
    .tile {
        background-color: rgba(206, 203, 148, 0.3);
        padding: 15px;
        margin: 10px;
        text-align: center;
        transition: box-shadow 0.3s ease-in-out;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        color: inherit;
        border: 1px solid rgba(206, 203, 148, 0.6);
        border-radius: 15px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .tile:hover {
        background-color: rgba(228, 226, 204, 0.8);
        border: 1px solid rgba(232, 232, 195, 0.6);
        border-radius: 15px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .tile-image {
        max-width: 100%;
        max-height: 80%;
        margin: 0 auto;
        border-radius: 15px;
    }
    .text-center {
        font-size: 20px;
    }
    .tile:hover h2 {
        text-decoration: none;
        animation: bounce 0.5s;
    }
    @keyframes bounce {
        0% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(-10px);
        }
        50% {
            transform: translateY(0);
        }
        75% {
            transform: translateY(-5px);
        }
        100% {
            transform: translateY(0);
        }
    }
</style>
<div class="container">
    <h1 class="text-center mt-5">Products</h1>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6 col-sm-6">
            <a href="{{ url_for('get_electronics') }}" class="tile" onmouseover="glowTile(this);" onmouseout="unglowTile(this);">
                <img src="/static/category-images/electronics.png" alt="Electronics" class="tile-image">
                <h2 class="text-center">Electronics</h2> <!-- Added heading for Electronics category -->
            </a>
        </div>
        <div class="col-md-6 col-sm-6">
            <a href="{{ url_for('get_toys') }}" class="tile" onmouseover="glowTile(this);" onmouseout="unglowTile(this);">
                <img src="/static/category-images/toys.png" alt="Toys" class="tile-image">
                <h2 class="text-center">Toys</h2> <!-- Added heading for Toys category -->
            </a>
        </div>
    </div>
</div>


    <script>
        function searchOnEnter(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.forms[0].submit();
            }
        }

        function glowTile(tile) {
            tile.style.boxShadow = '0 0 10px rgba(0, 0, 0, 0.5)';
        }

        function unglowTile(tile) {
            tile.style.boxShadow = 'none';
        }
    </script>

    
</div>
{% endblock %}
