{% extends 'layout.html' %}

{% block content %}
    <h1>Product Detail</h1>
    
    <style>
        .product-image {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            transition: transform 0.3s ease;
            border-radius: 15px;
        }

        .product-tile {
            height: 400px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            cursor: pointer;
            position: relative;

        }

        .product-tile:hover .product-image {
            transform: scale(1.1);
        }

        .product-name {
            margin-top: 15px;
            font-size: 20px;
        }

        .see-more-button {
            border-radius: 10px;
            background: #25103b;
            color: #fff;
            padding: 5px 10px 5px 10px;
            cursor: pointer;
            text-align: center;
        }

        .description-overlay {
            margin: 10px;
            border-radius: 15px;
            overflow: hidden;
            display: none;
            background: rgba(255, 255, 255, 0.7);
            color: #000;
            padding: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            transition: opacity 0.3s ease;
            border: 1px solid rgba(232, 232, 195, 0.6);
        border-radius: 15px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        width: fit-content;
        }

        .product-tile:hover .description-overlay {
            display: block;
        }
    </style>
<!-- product.title,product.description,product.weight,product.product_image,product.product_id -->
    <div class="row">
        <div class="col-md-12">
            <h1>{{ category_name }}</h1>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="product-tile">
                                <img src="/static/{{ product[3] }}" alt="{{ product[0] }}" class="product-image">
                                <div class="product-name">{{ product[0] }}</div>
                                <div class="description-overlay">
                                    <p>{{ product[1] }}</p>
                                    <a href="{{ url_for('get_varient', product_id=product[4]) }}" class="see-more-button">See More</a>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

