<!-- <html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>OnLineShop</h1>
  </div>
  <div class="nav">
    <p><a href="/">Home</a> > <a href="">Login</a></p>
  </div>
  <h2>Login</h2>
  {% if err %}
    <p>Sorry! entered email and password do not match any records</p>
  {% endif %}
  <form action="" method="POST">
    <input type="radio" value="Customer" name="type" checked>Customer &nbsp &nbsp<input type="radio" value="Seller" name="type">Seller
    <table>
      <tr>
        <td>EMAIL:</td><td><input type="email" name="email" required></td>
      </tr><tr>
        <td>PASSWORD:</td><td><input type="password" name="password" required></td>
      </tr>
    </table>
    <input type="submit" value="SUBMIT" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
  </form>
</body>
</html> -->

{% extends "layout.html" %}
{% block content %}
    <!-- <div class="row"> -->
    <form method="POST" action="" class="form">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="text-align: center;">Log In</legend>
            <div class="form-group">
                <label for="email" class="form-control-label">Email</label>
                <input type="email" id="email" name="email" class="form-control form-control-lg" value="{{ request.form.get('email') }}">
                {% if form_errors.get('email') %}
                    <div class="invalid-feedback">
                        {% for error in form_errors.get('email') %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password" class="form-control-label">Password</label>
                <input type="password" id="password" name="password" class="form-control form-control-lg">
                {% if form_errors.get('password') %}
                    <div class="invalid-feedback">
                        {% for error in form_errors.get('password') %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group" style="text-align: center;">
            <button type="submit" class="btn btn-outline-info">Log In</button>
        </div>
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('signup') }}">Sign Up Now</a>
        </small>
    </form>
    <!-- </div> -->
    <!-- <div class="row"> -->
    <!-- You can add more HTML or adjust the structure as needed -->
    <!-- </div> -->
{% endblock content %}
